[submodule ".config/awesome/lib/rubato"]
	path = .config/awesome/lib/rubato
	url = https://github.com/andOrlando/rubato.git

[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
